<!--    ******  Component  ******-->
<!--<app-header></app-header>
<app-home></app-home>
<app-cars></app-cars>
<app-about></app-about>
<app-parts></app-parts>
<app-login-header></app-login-header> -->  <!--    ******  Types of Component(inline-syle comp)  ******-->
<!--<app-login-page></app-login-page>-->   <!--    ******  Types of Component(inline-template comp)  ******-->
<!--<app-footer></app-footer>-->
<!--<app-login-footer></app-login-footer>  --> <!--    ******  Types of Component(inline-syle & template comp)  ******-->

<router-outlet></router-outlet>
