<nav class="navbar navbar-expand-lg bg-dark" id="navBar">
    <div class="container-fluid">
      <h2 class="text-white text-uppercase"><i class="fa-solid fa-car"></i>-<span style="color: red;">Cure</span></h2>
      <!--Search bar-->
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
       data-bs-target="#navContent" aria-controls="navContent">
       <span class="navbar-toggler-icon"></span>
      </button>
    
       <!--link bar-->
      <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="ul">

          <!-- to avoid refreshing page every time use routerLink instead of href-->
          <li class="nav-item ">
            <a class="nav-link"id="link" routerLinkActive="active" routerLink="admin-login">Admin</a>
          </li>
          <li class="nav-item "> 
            <a class="nav-link" id="link" routerLinkActive="active" routerLink="login-page">User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>