#navBar{
    box-shadow: 0px 0px 8px gray;
}
.container-fluid h2{
    margin-left: 2%;
}
#navContent{
    margin-left: 70%;
}
#link
{
    color: white;
    font-size: 23px;
    transition: all ease-in-out 0.4s;
}
#link:hover
{
    color: red;
    font-size: 21px;
    border-radius: 10px;
}
#btnlogout{
    padding: 7px 22px;
    background: red;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    outline: 0;
    transition: all ease-in 0.4s;
    border-radius: 5px;
    margin-right: 5%;
}
#btnlogout:hover{
    background: white;
    color: red;
    box-shadow: 0px 0px 8px red;
}
.active{
    border-bottom: 3px solid red;
    border-radius: 2px;
}
