/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=MerriWeather');
@import url('https://fonts.googleapis.com/css?family=Metal Mania');
@import url('https://fonts.googleapis.com/css?family=Mogra');

*{
    padding:0;
    margin:0;
    font-family: MerriWeather;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
